<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577427516724-ca62ne2ri87igvhgct2bemf9k4g4k752.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577427516724-ca62ne2ri87igvhgct2bemf9k4g4k752</string>
	<key>API_KEY</key>
	<string>AIzaSyADdXYAGKO2CeroqoUuViuR1Nl37mmJCQs</string>
	<key>GCM_SENDER_ID</key>
	<string>577427516724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.psychetrack</string>
	<key>PROJECT_ID</key>
	<string>psychetrack-812ce</string>
	<key>STORAGE_BUCKET</key>
	<string>psychetrack-812ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577427516724:ios:bfcb559cd78d067a168961</string>
</dict>
</plist>